#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.vcproj.*.user
*.vspscc
*_i.c
*.i
*.icf
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.obj
*.sdf
*.tlog
*.write.1.tlog
*.opendb

[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/	
_ReSharper*/
[Tt]est[Rr]esult*
[Dd]ebugPublic/
[Rr]eleases/

# Ignore files build by ndk and eclipse
libs/
bin/
obj/
assets/
.classpath
.project
.cproject

# Ignore files build by airplay
build_*_xcode/

# Ignore files build by xcode3
*.mode*v*
*.pbxuser
build/
.DS_Store

# Ignore files by xcode4
*.xcscheme
*.xcworkspacedata
*.xcuserstate
xcschememanagement.*
*.opendb
VESS/cocos2d/cocos/platform/android/libcocos2dx/libcocos2dx.iml
VESS/proj.android-studio/.idea/compiler.xml
VESS/proj.android-studio/.idea/encodings.xml
VESS/proj.android-studio/.idea/gradle.xml
VESS/proj.android-studio/.idea/misc.xml
VESS/proj.android-studio/.idea/modules.xml
VESS/proj.android-studio/.idea/vcs.xml
VESS/proj.android-studio/app/vess.iml
VESS/proj.android-studio/proj.android-studio.iml
