<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>damage_effect_1_00.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>73</integer>
			<key>originalHeight</key>
			<integer>73</integer>
		</dict>
		<key>damage_effect_1_01.png</key>
		<dict>
			<key>x</key>
			<integer>73</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>73</integer>
			<key>originalHeight</key>
			<integer>73</integer>
		</dict>
		<key>damage_effect_1_02.png</key>
		<dict>
			<key>x</key>
			<integer>145</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>73</integer>
			<key>originalHeight</key>
			<integer>73</integer>
		</dict>
		<key>damage_effect_1_03.png</key>
		<dict>
			<key>x</key>
			<integer>217</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>73</integer>
			<key>originalHeight</key>
			<integer>73</integer>
		</dict>
		<key>damage_effect_1_04.png</key>
		<dict>
			<key>x</key>
			<integer>289</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>73</integer>
			<key>originalHeight</key>
			<integer>73</integer>
		</dict>
		<key>damage_effect_1_05.png</key>
		<dict>
			<key>x</key>
			<integer>361</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>73</integer>
			<key>originalHeight</key>
			<integer>73</integer>
		</dict>
	</dict>
</dict>
</plist>