<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>damage_effect_00.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>340</integer>
			<key>height</key>
			<integer>338</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>338</integer>
		</dict>
		<key>damage_effect_01.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>340</integer>
			<key>width</key>
			<integer>340</integer>
			<key>height</key>
			<integer>338</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>338</integer>
		</dict>
		<key>damage_effect_02.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>679</integer>
			<key>width</key>
			<integer>340</integer>
			<key>height</key>
			<integer>338</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>338</integer>
		</dict>
		<key>damage_effect_03.png</key>
		<dict>
			<key>x</key>
			<integer>342</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>340</integer>
			<key>height</key>
			<integer>338</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>338</integer>
		</dict>
		<key>damage_effect_04.png</key>
		<dict>
			<key>x</key>
			<integer>342</integer>
			<key>y</key>
			<integer>340</integer>
			<key>width</key>
			<integer>340</integer>
			<key>height</key>
			<integer>338</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>338</integer>
		</dict>
		<key>damage_effect_05.png</key>
		<dict>
			<key>x</key>
			<integer>342</integer>
			<key>y</key>
			<integer>679</integer>
			<key>width</key>
			<integer>340</integer>
			<key>height</key>
			<integer>338</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>338</integer>
		</dict>
		<key>damage_effect_06.png</key>
		<dict>
			<key>x</key>
			<integer>683</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>340</integer>
			<key>height</key>
			<integer>338</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>338</integer>
		</dict>
		<key>damage_effect_07.png</key>
		<dict>
			<key>x</key>
			<integer>683</integer>
			<key>y</key>
			<integer>340</integer>
			<key>width</key>
			<integer>340</integer>
			<key>height</key>
			<integer>338</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>338</integer>
		</dict>
	</dict>
</dict>
</plist>