<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>basic_slime_dead_00.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>283</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>283</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
		<key>basic_slime_dead_01.png</key>
		<dict>
			<key>x</key>
			<integer>285</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>283</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>283</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
		<key>basic_slime_dead_02.png</key>
		<dict>
			<key>x</key>
			<integer>569</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>283</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>283</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
		<key>basic_slime_dead_03.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>134</integer>
			<key>width</key>
			<integer>283</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>283</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
		<key>basic_slime_dead_04.png</key>
		<dict>
			<key>x</key>
			<integer>285</integer>
			<key>y</key>
			<integer>134</integer>
			<key>width</key>
			<integer>283</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>283</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
		<key>basic_slime_dead_05.png</key>
		<dict>
			<key>x</key>
			<integer>569</integer>
			<key>y</key>
			<integer>134</integer>
			<key>width</key>
			<integer>283</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>283</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
		<key>basic_slime_dead_06.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>267</integer>
			<key>width</key>
			<integer>283</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>283</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
		<key>basic_slime_dead_07.png</key>
		<dict>
			<key>x</key>
			<integer>285</integer>
			<key>y</key>
			<integer>267</integer>
			<key>width</key>
			<integer>283</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>283</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
		<key>basic_slime_dead_08.png</key>
		<dict>
			<key>x</key>
			<integer>569</integer>
			<key>y</key>
			<integer>267</integer>
			<key>width</key>
			<integer>283</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>283</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
		<key>basic_slime_dead_09.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>400</integer>
			<key>width</key>
			<integer>283</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>283</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
		<key>basic_slime_dead_10.png</key>
		<dict>
			<key>x</key>
			<integer>285</integer>
			<key>y</key>
			<integer>400</integer>
			<key>width</key>
			<integer>283</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>283</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
	</dict>
</dict>
</plist>