<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>basic_slime_attack0_00.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>285</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>originalHeight</key>
			<integer>133</integer>
		</dict>
		<key>basic_slime_attack0_01.png</key>
		<dict>
			<key>x</key>
			<integer>287</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>283</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>283</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
		<key>basic_slime_attack0_02.png</key>
		<dict>
			<key>x</key>
			<integer>571</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>283</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>283</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
		<key>basic_slime_attack0_03.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>135</integer>
			<key>width</key>
			<integer>285</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>originalHeight</key>
			<integer>133</integer>
		</dict>
		<key>basic_slime_attack0_04.png</key>
		<dict>
			<key>x</key>
			<integer>287</integer>
			<key>y</key>
			<integer>135</integer>
			<key>width</key>
			<integer>285</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>originalHeight</key>
			<integer>133</integer>
		</dict>
		<key>basic_slime_attack0_05.png</key>
		<dict>
			<key>x</key>
			<integer>573</integer>
			<key>y</key>
			<integer>135</integer>
			<key>width</key>
			<integer>285</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>originalHeight</key>
			<integer>133</integer>
		</dict>
		<key>basic_slime_attack0_06.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>269</integer>
			<key>width</key>
			<integer>283</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>283</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
		<key>basic_slime_attack0_07.png</key>
		<dict>
			<key>x</key>
			<integer>285</integer>
			<key>y</key>
			<integer>269</integer>
			<key>width</key>
			<integer>285</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>originalHeight</key>
			<integer>133</integer>
		</dict>
		<key>basic_slime_attack0_08.png</key>
		<dict>
			<key>x</key>
			<integer>571</integer>
			<key>y</key>
			<integer>269</integer>
			<key>width</key>
			<integer>285</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>originalHeight</key>
			<integer>133</integer>
		</dict>
		<key>basic_slime_attack0_09.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>403</integer>
			<key>width</key>
			<integer>285</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>originalHeight</key>
			<integer>133</integer>
		</dict>
		<key>basic_slime_attack0_10.png</key>
		<dict>
			<key>x</key>
			<integer>287</integer>
			<key>y</key>
			<integer>403</integer>
			<key>width</key>
			<integer>285</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>originalHeight</key>
			<integer>133</integer>
		</dict>
		<key>basic_slime_attack0_11.png</key>
		<dict>
			<key>x</key>
			<integer>573</integer>
			<key>y</key>
			<integer>403</integer>
			<key>width</key>
			<integer>283</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>283</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
		<key>basic_slime_attack0_12.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>537</integer>
			<key>width</key>
			<integer>285</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>originalHeight</key>
			<integer>133</integer>
		</dict>
		<key>basic_slime_attack0_13.png</key>
		<dict>
			<key>x</key>
			<integer>287</integer>
			<key>y</key>
			<integer>537</integer>
			<key>width</key>
			<integer>283</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>283</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
		<key>basic_slime_attack0_14.png</key>
		<dict>
			<key>x</key>
			<integer>571</integer>
			<key>y</key>
			<integer>537</integer>
			<key>width</key>
			<integer>285</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>originalHeight</key>
			<integer>133</integer>
		</dict>
		<key>basic_slime_attack0_15.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>671</integer>
			<key>width</key>
			<integer>285</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>originalHeight</key>
			<integer>133</integer>
		</dict>
		<key>basic_slime_attack0_16.png</key>
		<dict>
			<key>x</key>
			<integer>287</integer>
			<key>y</key>
			<integer>671</integer>
			<key>width</key>
			<integer>285</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>originalHeight</key>
			<integer>133</integer>
		</dict>
		<key>basic_slime_attack0_17.png</key>
		<dict>
			<key>x</key>
			<integer>573</integer>
			<key>y</key>
			<integer>671</integer>
			<key>width</key>
			<integer>285</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>originalHeight</key>
			<integer>133</integer>
		</dict>
		<key>basic_slime_attack0_18.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>805</integer>
			<key>width</key>
			<integer>285</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>originalHeight</key>
			<integer>133</integer>
		</dict>
		<key>basic_slime_attack0_19.png</key>
		<dict>
			<key>x</key>
			<integer>287</integer>
			<key>y</key>
			<integer>805</integer>
			<key>width</key>
			<integer>285</integer>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>285</integer>
			<key>originalHeight</key>
			<integer>133</integer>
		</dict>
	</dict>
</dict>
</plist>